<form id="login-form" #form="ngForm">
  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th>Name</th>
        <th>Email</th>
        <td>
          <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
            (change)="checkUncheckAll()" /> <strong>Select/ Unselect All</strong>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr *ngFor="let detail of arr;let i=index">
        <td>{{i}}</td>
        <td> {{detail.name }}
        </td>
        <td> {{detail.email }}
          <input type="checkbox" [(ngModel)]="detail.isSelected" name="list_name" value="{{detail.i}}"
            (change)="isAllSelected()" />
        </td>
      </tr>
      <button type="submit" (click)="deleteRow(i)">Delete</button>
    </tbody>
  </table>

  <div>
    <label>Name: </label>
    <mat-form-field floatLabel="never">
      <!-- pattern="/[a-zA-Z]{3,}/" -->
      <input matInput id="name" type="text" [(ngModel)]="name" #inputName="ngModel" name="name" required>
      <mat-error *ngIf="inputName.hasError('pattern')">Enter a valid name</mat-error>
    </mat-form-field>x
  </div>

  <div>
    <label>Email Address: </label>
    <mat-form-field floatLabel="never">
      <input matInput id="email" [(ngModel)]="email"
        pattern="^[a-zA-Z0-9]+((\_[\w-]{1,})|(\.[\w-]{1,})|(\-[\w-]{1,}))*\@\w+((-\w+)|(\w*))\.[a-z]{2,}$"
        #inputEmail="ngModel" name="email" required>
      <mat-error *ngIf="inputEmail.hasError('pattern')">Enter a valid email</mat-error>
    </mat-form-field>
  </div>

  <div>
    <button type="submit" (click)="login(form.value)">
      <span>Save</span>
    </button>
  </div>
</form>

<!-- <popup>
  <span>
    <span> Are you sure you want to delete ?</span>
    <button class="btn btn-danger" (click)="deleteRow(i)">Yes </button>
    <button class="btn btn-primary" (click)="user.confirmDelete=false">No </button>
  </span>
  <button *ngIf="!user.confirmDelete" class="btn btn-danger" (click)="user.confirmDelete=true">Delete</button> 
</popup> -->

<!-- <jw-modal id="custom-modal-1">
  <p>Are sure want to delete users detail?</p>
  <button (click)="closeModal('custom-modal-1');">Close</button>
  <button >Yes</button>
</jw-modal> -->


<!-- <table mat-table>
  <ng-container matColumnDef="description">
    <th mat-header-cell> Name</th>
    <td mat-cell> </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell> </td>
  </ng-container>

  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef class="checkbox">
      <mat-checkbox [checked]="allSelect()" [indeterminate]="intermediate()">
      </mat-checkbox>
    </th>
    <td mat-cell>
      <mat-checkbox>
      </mat-checkbox>
    </td>
  </ng-container>
</table> -->