<!-- You displayed the HeroesComponent by adding it to the AppComponent shell. -->
<div>
    <span>{{hero.id}}</span><br>
    <span>{{hero.name}}</span>
</div>
<!-- You applied the Pipes to format the name -->
<p>{{bigil | uppercase}}</p>
<p>{{bigil | titlecase}}</p>
<p>{{bigil | slice:3:8 }}</p>
<p>{{person | json}}</p>
<p>{{5.345 | number:'1.2-3'}}</p>
<p>{{5.345 | number:'3.4-5'}}</p>
<p>{{5.345 | number:'2.1-2'}}</p>
<p>{{0.24 | currency}}</p>
<p>{{0.24 | percent}}</p>
<p>{{date | date:'short'}}</p>
<p>{{bigil.toUpperCase()}}</p>
<p>{{bigil.length}}</p>

<!-- You used two-way data binding with the ngModel directive. -->
<input [(ngModel)]="hero.name" placeholder="name" />

<h3>Displaying List</h3>
<ul>
    <!-- You used *ngFor to display a list. -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        {{greeting}}
        <span>{{hero.id}}</span> {{hero.name}}
    </li>
</ul>
users Details
<!-- You used *ngIf to conditionally include or exclude a block of HTML. -->
<div *ngIf="selectedHero">
    <h4>{{selectedHero.name | uppercase}} Details</h4>
    <div><span>ID: </span>{{selectedHero.id}}</div>
    <div>
        <label>NAME:
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>
</div>
<!-- Dependency Injection & Service -->
<p>Employee Name List</p>
<ul *ngFor="let e of employees">
    <li>{{e.name}}</li>
</ul>
<span>ERROR</span>
<h3>{{errorMsg}}</h3>